
@import "tailwindcss";


body {
  overflow-x: hidden;
}

.vp-thumb {
  aspect-ratio: 412 / 241;
  background: #f3f3f3;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 12px;
}

.vp-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}
